.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .modal-contenido {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-contenido button{
    background-color: #1d3cf0;
    color: #ffff;
    font-weight: 700;
    border-radius: 5px;
    width: 200PX; 
    height: 40px;
  }
  
  @media screen and (max-width: 620px) {
    .contenedor-padre {
      width: 100% !important;
     
  }
    input {
        width: 100%;
        font-size: 15px !important;
    }

    .btn-input{
      font-size: 17px !important;
      width: 30% !important;
  }
  li{
    font-size: 19px;
    font-weight: 700;
    width: 100%;
}
.mostrarUsuarios {
  justify-content: space-between;
}
} 
@media screen and (max-width: 480px) {

  .btn-input{
    font-size: 16px !important;
    width: 50% !important;
}
li{
  font-size: 19px;
  font-weight: 700;
  width: 100%;
}
.mostrarUsuarios {
justify-content: space-between;
}
} 

 

@media screen and (max-width: 350px) {
  input {
      width: 100%;
      font-size: 15px !important;
  }
  li{
  font-size: 15px !important;
    font-weight: 700;
}
  .btn-input{
    font-size: 15px !important;
    width: 40% !important;
  
}}




